[submodule "package/luci-theme-argon"]
	path = package/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "package/OpenClash"]
	path = package/OpenClash
	url = https://github.com/vernesong/OpenClash.git
[submodule "package/luci-app-unblockneteasemusic"]
	path = package/luci-app-unblockneteasemusic
	url = https://github.com/immortalwrt/luci-app-unblockneteasemusic.git
